html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
    min-width: 70%;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: center;
    height: 100%;
}

.boxes-container {
    display: flex;
    min-width: 100%;
    height: 70%;
}

.boxes {
    border: 2px solid black;
    flex: 1;
    padding: 20px;
}
